.marqueeContainer {
    width: 100%;
    overflow: hidden;
  }
  
  .marqueeContent {
    display: inline-block;
    white-space: nowrap;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
  }

  
  .paused {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
  }